<Character>
  <host>127.0.0.1</host>
  <username>root</username>
  <password></password>
  <port>3306</port>
  <DataBase>apsp_characters</DataBase>
</Character>

<Server>
  <host>127.0.0.1</host>
  <username>root</username>
  <password></password>
  <port>3306</port>
  <DataBase>apsp_server</DataBase>
</Server>

<World>
  <host>127.0.0.1</host>
  <username>root</username>
  <password></password>
  <port>3306</port>
  <DataBase>apsp_world</DataBase>
</World>